* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: 'Poppins', sans-serif;
}

.body {
    position: relative;
    height: 100vh;
    background-color: black;
}

.container {
    position: absolute;
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-container {
    display: block;
    flex: 0 1 480px;

    padding: 32px;
    border-radius: 12px;
    border: 1px solid lightgray;
}

.sub-container-header{
    padding: 0px 12px;
}

.overlay-container {
    visibility: hidden;
    z-index: -1;
}

.show-overlay-container {
    visibility: visible;
    z-index: 1;
}

.form-container{
    padding: 12px;
}

.form-container .heading{
    display: flex;
    flex-direction: row;
    font-size: 0.8em;
    color: #009900;
    cursor: pointer;
}

.heading p{
    flex-grow: 1;
}

.heading .fa-solid{
    display: flex;
    align-items: center;
}

.form-hidden{
    margin-top: 12px;
    display: none;
}

.form-visible{
    display: block;
}

input{
    padding: 8px 16px;
    border: 1px solid lightgray;
    width: 100%;
    margin: 4px;
    border-radius: 4px;
    font-size: 0.8em;
}

input[type='submit']{
    border: 0px;
    background-color: rgb(21, 21, 21);
    color: white;
    text-transform: capitalize;
    cursor: pointer;
}

input[type='submit']:hover{
    background-color: rgb(44, 44, 44);
}

.list {
    list-style-type: none;
}

.list-item {
    padding: 12px;
    margin: 8px 0px;
    border-bottom: 1px solid lightgray;

    display: flex;
    flex-direction: row;
}

.list-item p{
   flex-grow: 1;
}

/* Vertical align font-awesome icon */
.list-item .fa-solid{
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity 0.18s ease-in;
}

.list-item:hover .fa-solid{
    visibility: visible;
    opacity: 1;
}