* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    border: 0px;
    font-family: 'Poppins', sans-serif;
}

.body {
    position: relative;
    height: 100vh;
}

.container{
    position: absolute;
    height: 100%;
    width: 100%;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url('/assets/0.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-container .sub-container {
    display: block;
    flex: 0 1 480px;

    padding: 32px;
    border-radius: 12px;
    border: 1px solid lightgray;
    background-color: rgba(255, 255, 255, 0.88);
}

.sub-container-header{
    padding: 0px 12px;
}

.form-container{
    padding: 12px;
}

.form-container .heading{
    display: flex;
    flex-direction: row;
    font-size: 0.8em;
    color: gray;
    cursor: pointer;
    text-transform: uppercase;
}

.form-container .heading:hover{
    color: black;
}

.heading p{
    flex-grow: 1;
}

.heading .fa-solid{
    display: flex;
    align-items: center;
}

.form-hidden{
    margin-top: 12px;
    display: none;
}

.form-visible{
    display: block;
}

input{
    padding: 8px 16px;
    border: 1px solid lightgray;
    width: 100%;
    margin: 4px;
    border-radius: 4px;
    font-size: 0.8em;
}

input[type='submit']{
    border: 0px;
    background-color: rgb(21, 21, 21);
    color: white;
    text-transform: capitalize;
    cursor: pointer;
}

input[type='submit']:hover{
    background-color: rgb(44, 44, 44);
}

.list-header{
    padding: 16px 12px 4px 12px;
}

.list {
    list-style-type: none;
}

.list-item {
    padding: 12px;
    margin: 8px 0px;
    border-bottom: 1px solid lightgray;
    cursor: pointer;

    display: flex;
    flex-direction: row;
}

.list-item p{
   flex-grow: 1;
}

/* Vertical align font-awesome icon */
.list-item .fa-solid{
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity 0.18s ease-in;
}

.list-item:hover .fa-solid{
    visibility: visible;
    opacity: 1;
}

.clear{
    margin-top: 28px;
}

.clear span{
    font-size: 0.8em;
    padding: 2px 0px;
    margin-left: 12px;
    color: red;
    cursor: pointer;
    text-transform: uppercase;
}

.clear span:hover{
    border-bottom: 2px solid red;
}

.overlay-container{
    display: none;
    z-index: -1;
    align-items: center;
    justify-content: center;

    background-color: rgba(0, 0, 0, 0.80);
    backdrop-filter: blur(2px);
}

.show-overlay-container{
    z-index: 2;
    display: flex;
}

.overlay-container .sub-container{
    display: block;
    flex: 0 1 480px;

    border-radius: 12px;
    border: 1px solid lightgray;
    background-color: white
}

.overlay-container .sub-container .animal{
    border-radius: 12px;
}

.overlay-container .sub-container .name{
    padding: 24px;
    text-transform: capitalize;
    font-weight: bold;
}

.overlay-container .sub-container .votes{
    padding: 0px 24px 24px 24px;
}

.overlay-container .sub-container .votes .fa-solid{
    color: crimson;
    font-size: 2.4em;
    margin-right: 12px;
}

.overlay-container .sub-container .votes span{
    font-size: 2.4em;
}